.tarjeta {
    transition: all 0.3s ease; 
    cursor: pointer;
   
  }
  .img1{
    transition: all 0.5s ease; 
    cursor: pointer;
    
  }
  .img1:hover{
    transform: scale(1.1);
    
  }
  .fondo:hover{

  }
