
<div class="grid" style="border: 2px solid black;">
  <div class="col-12" style="border: 2px solid black;">
    <div class="card" style="border: 2px solid black;">
        <p-dataView  #dv [value]="animales"  layout="grid">
            <ng-template pTemplate="header">
                <span class="p-input-icon-left" style="width: 100%;">
                    <i class="pi pi-search"></i>
                    <input style="width: 100%;" type="search" pInputText placeholder="Buscar por nombre" (input)="onFilter(dv, $event)">
                </span>	
            </ng-template>
        </p-dataView>
        
    </div>
  </div>
</div>
<app-three-scene></app-three-scene>


