<div class="layout-wrapper" [ngClass]="containerClass">
    <button #menubutton class="toggle-sidebar-button" (click)="layoutService.onMenuToggle()" style="background-color: black;">
        <i class="pi" [ngClass]="layoutService.state.staticMenuDesktopInactive ? 'pi-angle-right' : 'pi-angle-left'"></i>
    </button>
    <!--<app-topbar></app-topbar>-->
    <div class="layout-sidebar">
        
        <app-sidebar></app-sidebar>
    </div>
    <div class="layout-main-container">

        <div class="layout-main" >
            
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <div class="layout-mask"></div>
</div>
